html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.fighters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 15px;
}

.fighter {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
}

.fighter:hover {
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.name {
  align-self: center;
  font-size: 21px;
  margin-top: 20px;
}

.fighter-image {
  height: 260px;
}

.editButton {
  position: absolute;
  width: 10px;
  height: 10px;
  color: #727272;
  top: 7px;
  left: 10px;
  display: none;
}

.fighter:hover .editButton {
  display: block;
}

.fighter:hover .editButton:hover {
  color: #000;
}

.player1:after,
.player2:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  border: 10px solid;
}

.player1:after {
  border-color: blue;
}

.player2:after {
  border-color: red;
}

.submitButton {
  display: block;
  margin: 1em auto 0;
}

#loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: opacity ease-in-out 1s, visibility ease-in-out 1s;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 250px;
  padding: 2em;
  background-color: #eee;
}

.modal label {
  width: 250px;
  display: block;
}

.field input {
  float: right;
}

.field:after {
  content: "";
  clear: both;
  display: block;
}

.start-button {
  position: absolute;
  bottom: 200px;
  z-index: 10;
  font-size: 50px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 300px;
  border: red solid 10px;
  background-color: #f8f8f8;
  cursor: pointer;
  display: none;
}

.start-button:hover {
  border-color: blue;
}
.player1-element,
.player2-element {
  position: absolute;
  height: 70%;
  bottom: 100px;
}

.player2-element {
  transform: scaleX(-1);
}

.health-bar-right,
.health-bar-left {
  position: absolute;
  width: 45%;
  height: 30px;
  border: 5px solid #434343;
  top: 10px;
}

.health-bar-left {
  left: 10px;
}

.health-bar-right {
  right: 10px;
}

.health-bar-left .health-element {
  background-color: blue;
  height: 100%;
}

.health-bar-right .health-element {
  background-color: red;
  height: 100%;
}

.wins-popup {
  position: fixed;
  background-color: #fff;
  top: 30%;
  width: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  padding: 1em;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 10px;
  margin: 0 auto;
  left: 0;
  right: 0;
  color: #555;
  text-align: center;
}
